* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-image: url(https://w.forfun.com/fetch/85/85645d4e38f844b661f21bdc1e88610d.jpeg);
    background-position: center;
    background-size: cover;
}

li {
    margin-left: -1290px;
}