* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-image: url(https://images2.alphacoders.com/109/thumb-1920-1096996.jpg);
    background-position: center;
    background-size: cover;
}

li {
    margin-left: -1290px;
}